<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Testing</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
        <script type="text/javascript" src="./../client/client_plot.js"></script>
    </head>

    <body>
        <div class="title">
            <p>Async mode is: <b>{{ async_mode }}</b></p>
            <p>Average latency: <b><span id="ping-resp"></span>ms</b></p>
        </div>

        <div id="log"></div>
    </body>
</html>

